<!DOCTYPE html>

<head>
    <title>Launching App shiny</title>
</head>

<body>
    <div id="div_start">
        <h1>App to launch app shiny</h1>
        <input id="start" type="button" onclick="window.location.href='/launchapp'" value="Launching App" />
    </div>
    <div id="waiting" style="display:none">Please Wait...</div>
    </div>
    <script>
        document.getElementById("start").addEventListener("click", function () {
            document.getElementById("waiting").style.display = "block"
            document.getElementById("div_start").style.display = "none"
        })
    </script>
</body>