<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="StopProcess()">Go Back !</button>
    <iframe src="/shiny_router" frameborder="0" width="100%" height="100%"></iframe>
</body>

<script>
    function StopProcess() {
        const Http = new XMLHttpRequest();
        const url = '/backhome';
        Http.open("GET", url);
        Http.send();
        window.location.href = "/"
    }

</script>

</html>